<!DOCTYPE html>
<html lang="en">
<head>
  <title>Title</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <!-- PRISM creating a commit-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/line-numbers/prism-line-numbers.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/command-line/prism-command-line.min.js"></script>
   <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/command-line/prism-command-line.min.css">
         <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    
</head>
<body>



<div class="container">
	<div class="row">
	    <div class="col-md-12">
              <h2> Ports Used </h2>
              <div class="notes-status">file1-status</div>
              <div class="notes-topic">file1-topic</div>
              <div class="notes-tags">file1-tag</div>
      		<hr>

			<h3>10000 Feet Overview test d 12dssd</h3>
   	
   			 <p class="text-justify"> Nullam quis risus eget urna mollis ornare vel eu leo. Cum <code>$rootScope</code>sociis natoque penatibus et magnis dis parturient montes, Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes,
		            nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.Cum sociis natoque penatibus et magnis dis parturient
		             montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus,
					nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.Maecenas
					 sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis,
					  est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.  </p>
      		
      		Angular Module is declared as follows
      		<pre class="language-javascript line-numbers"><code>
			  
					var mainModule = angular.module('mainModule', ['routeModule','twoWayBindingModule']);
					mainModule.controller('mainController', function($scope) {
								console.log(' mainController ');
											
					 });
	 		
	 		</code></pre>
			

			<h3>Directives</h3>
   	
   			 <p class="text-justify"> Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, 
		            nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.Cum sociis natoque penatibus et magnis dis parturient
		             montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus,
					nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.Maecenas
					 sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis,
					  est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.  </p>
	 		   <pre class="language-java line-numbers"><code>
			  
	 		  
				package hello;

				import org.springframework.beans.factory.annotation.Autowired;
					import org.springframework.stereotype.Component;
					
					@Component
					public class MessagePrinter {
					
					    final private MessageService service;
					
					    @Autowired
					    public MessagePrinter(MessageService service) {
					        this.service = service;
					    }
					
					    public void printMessage() {
					        System.out.println(this.service.getMessage());
					    }
					}	
	 		</code></pre>
<br><br>		        
		          <!-- SCREEN -->
		        <img src="screen.png" alt="Mountain View" class="img-responsive" >
<br><br>		        
		        <!-- NOTES PANEL -->
		        	<div class="panel panel-success">
		        		<div class="panel-heading">Notes</div>
			  				<div class="panel-body">
			    				Specific Case
			  				</div>
		  			</div>
<br><br>		  			
		  		
</div>
</div>
</div>

</body>
</html>
