doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/line-numbers/prism-line-numbers.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/command-line/prism-command-line.min.css")
  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/line-numbers/prism-line-numbers.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/command-line/prism-command-line.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/plugins/highlight-keywords/prism-highlight-keywords.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-jsx.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-json.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-java.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-javascript.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-docker.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-bash.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-markup.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-python.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-go.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-yaml.min.js")
    
    style.
      body {
        font-size: 18px;
      }
      a{
        color: #155724;
      }

  body
    block content
