doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/line-numbers/prism-line-numbers.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/command-line/prism-command-line.min.css")
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/line-numbers/prism-line-numbers.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/command-line/prism-command-line.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-java.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-javascript.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/normalize-whitespace/prism-normalize-whitespace.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/plugins/highlight-keywords/prism-highlight-keywords.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-jsx.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-json.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.1/components/prism-docker.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-bash.min.js")

    style.
      body {
        font-size: 18px;
      }
      a{
        color: #155724;
      }

  body
    block content
